# Numpy (Numerical Python)

## Introduction

NumPy is the fundamental package for scientific computing with Python. It contains among other things:

* a powerful N-dimensional array object

* sophisticated (broadcasting) functions

* tools for integrating C/C++ and Fortran code

* useful linear algebra, Fourier transform, and random number capabilities

Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. Arbitrary data-types can be defined. This allows NumPy to seamlessly and speedily integrate with a wide variety of databases.

* ndarray -> numpy arrayleri, n boyutlu array anlamına gelir. 

* 1 dim array -> vector  
* multiple dim array -> matrix

* numpy array -> not flexible; can take 1 type of data but more effective storage

In [1]:
a = [1,2,3]
b = [4,5,6]

ab = []

for i in range(0, len(a)):
    ab.append(a[i]*b[i])
    
ab

[4, 10, 18]

In [2]:
import numpy as np

c = np.array([1,2,3])
d = np.array([4,5,6])

c*d

array([ 4, 10, 18])

In [3]:
?np

Type:        module
String form: <module 'numpy' from '/anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>
File:        /anaconda3/lib/python3.7/site-packages/numpy/__init__.py
Docstring:
NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://www.scipy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as `np`::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
doc
    Topical documentation on broadcasting, indexing, etc.
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
f2py
    Fortran to Python Interface Generator.
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more.

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
dual
    Overwrite certain functions with high-performance Scipy tools
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------
Start IPython with the NumPy profile (``ipython -p numpy``), which will
import `numpy` under the alias `np`.  Then, use the ``cpaste`` command to
paste examples into the shell.  To see which functions are available in
`numpy`, type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [4]:
who

a	 ab	 b	 c	 d	 i	 np

In [5]:
L = [1,2,"a",1.2]

In [6]:
[type(i) for i in L]

[int, int, str, float]

In [7]:
type(L[0])

int

# NumPy Array

## Creating array from a list

In [8]:
import numpy as np

f = np.array([12,33,4,5])

f

array([12, 33,  4,  5])

In [9]:
type(f)

numpy.ndarray

In [10]:
np.array([3.14, 4, 5, 1.2])

array([3.14, 4.  , 5.  , 1.2 ])

In [11]:
np.array([3.14, 4, 5, 1.2], dtype = 'float32')

array([3.14, 4.  , 5.  , 1.2 ], dtype=float32)

## Creating a particular array

**array containing only 0s or 1s:**

In [12]:
np.zeros(10, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [13]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

**array containing only a particular number:**

In [14]:
np.full((2,3), 9)

array([[9, 9, 9],
       [9, 9, 9]])

**array containing numbers between 0 and 10 increasing by twos:**

In [15]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

**array containing 30 values between 0 and 1:**

In [16]:
np.linspace(0,1,30)

array([0.        , 0.03448276, 0.06896552, 0.10344828, 0.13793103,
       0.17241379, 0.20689655, 0.24137931, 0.27586207, 0.31034483,
       0.34482759, 0.37931034, 0.4137931 , 0.44827586, 0.48275862,
       0.51724138, 0.55172414, 0.5862069 , 0.62068966, 0.65517241,
       0.68965517, 0.72413793, 0.75862069, 0.79310345, 0.82758621,
       0.86206897, 0.89655172, 0.93103448, 0.96551724, 1.        ])

**array with mean = 0 and std dev = 1:**

In [17]:
np.random.normal(0,1, (3,4))

array([[ 1.48115733, -1.47725326,  2.08449557, -1.11033237],
       [-1.59811918,  2.10586978,  0.21971506,  0.52299929],
       [ 0.31543946,  1.65084884,  0.17666313,  0.74105583]])

In [18]:
?np.random.normal

Docstring:
normal(loc=0.0, scale=1.0, size=None)

Draw random samples from a normal (Gaussian) distribution.

The probability density function of the normal distribution, first
derived by De Moivre and 200 years later by both Gauss and Laplace
independently [2]_, is often called the bell curve because of
its characteristic shape (see the example below).

The normal distributions occurs often in nature.  For example, it
describes the commonly occurring distribution of samples influenced
by a large number of tiny, random disturbances, each with its own
unique distribution [2]_.

Parameters
----------
loc : float or array_like of floats
    Mean ("centre") of the distribution.
scale : float or array_like of floats
    Standard deviation (spread or "width") of the distribution. Must be
    non-negative.
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  If size is ``None`` (default),
    a single value is returned if ``loc`` and ``scale`` are both scalars.
    Otherwise, ``np.broadcast(loc, scale).size`` samples are drawn.

Returns
-------
out : ndarray or scalar
    Drawn samples from the parameterized normal distribution.

See Also
--------
scipy.stats.norm : probability density function, distribution or
    cumulative density function, etc.

Notes
-----
The probability density for the Gaussian distribution is

.. math:: p(x) = \frac{1}{\sqrt{ 2 \pi \sigma^2 }}
                 e^{ - \frac{ (x - \mu)^2 } {2 \sigma^2} },

where :math:`\mu` is the mean and :math:`\sigma` the standard
deviation. The square of the standard deviation, :math:`\sigma^2`,
is called the variance.

The function has its peak at the mean, and its "spread" increases with
the standard deviation (the function reaches 0.607 times its maximum at
:math:`x + \sigma` and :math:`x - \sigma` [2]_).  This implies that
`numpy.random.normal` is more likely to return samples lying close to
the mean, rather than those far away.

References
----------
.. [1] Wikipedia, "Normal distribution",
       https://en.wikipedia.org/wiki/Normal_distribution
.. [2] P. R. Peebles Jr., "Central Limit Theorem" in "Probability,
       Random Variables and Random Signal Principles", 4th ed., 2001,
       pp. 51, 51, 125.

Examples
--------
Draw samples from the distribution:

>>> mu, sigma = 0, 0.1 # mean and standard deviation
>>> s = np.random.normal(mu, sigma, 1000)

Verify the mean and the variance:

>>> abs(mu - np.mean(s))
0.0  # may vary

>>> abs(sigma - np.std(s, ddof=1))
0.1  # may vary

Display the histogram of the samples, along with
the probability density function:

>>> import matplotlib.pyplot as plt
>>> count, bins, ignored = plt.hist(s, 30, density=True)
>>> plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
...                np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
...          linewidth=2, color='r')
>>> plt.show()

Two-by-four array of samples from N(3, 6.25):

>>> np.random.normal(3, 2.5, size=(2, 4))
array([[-4.49401501,  4.00950034, -1.81814867,  7.29718677],   # random
       [ 0.39924804,  4.68456316,  4.99394529,  4.84057254]])  # random
Type:      builtin_function_or_method

**array containing random values between 0 and 10:**

In [19]:
np.random.randint(0,10, (2,2))

array([[7, 8],
       [9, 2]])

**array containing only 1s in its :**

Köşegen elemanları 1 olan identity matris oluşturma**

In [20]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Numpy Array Reshaping

* **ndim**: dimesion number
* **shape**: dimesion info
* **size**: total element number
* **dtype**: array data type

In [21]:
import numpy as np

In [22]:
m = np.random.randint(10, size=10)
m

array([8, 1, 2, 6, 5, 3, 7, 8, 4, 3])

In [23]:
m.ndim

1

In [24]:
m.shape

(10,)

In [25]:
m.size

10

In [26]:
m.dtype

dtype('int64')

In [27]:
n = np.random.randint(10, size=(10,5))
n

array([[0, 4, 5, 6, 4],
       [3, 4, 1, 8, 1],
       [3, 2, 4, 1, 3],
       [0, 9, 0, 6, 1],
       [1, 9, 9, 6, 9],
       [2, 9, 9, 4, 7],
       [2, 2, 4, 6, 3],
       [0, 1, 8, 3, 2],
       [3, 2, 8, 6, 5],
       [7, 2, 0, 4, 4]])

In [28]:
n.ndim

2

In [29]:
n.shape

(10, 5)

In [30]:
n.size

50

In [31]:
n.dtype

dtype('int64')

**reshape operations -> creating matrix from vector etc.**

In [32]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [33]:
np.arange(1,10).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [34]:
x = np.array([1,2,3])
x

array([1, 2, 3])

In [35]:
x.ndim

1

In [36]:
y = x.reshape((1,3))
y

array([[1, 2, 3]])

In [37]:
y.ndim

2

In [38]:
x[np.newaxis, :]

array([[1, 2, 3]])

In [39]:
x[:, np.newaxis]

array([[1],
       [2],
       [3]])

## Array concatenate

**one dimension:**

In [40]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [41]:
a2 = np.array([4,5,6])
a2

array([4, 5, 6])

In [42]:
np.concatenate([a1,a2])

array([1, 2, 3, 4, 5, 6])

In [43]:
l1 = [7,8]

In [44]:
np.concatenate([a1,a2,l1])

array([1, 2, 3, 4, 5, 6, 7, 8])

In [45]:
m1 = np.array([[1,2,3],
              [7,8,9]])
m1

array([[1, 2, 3],
       [7, 8, 9]])

**two dimension:**

In [68]:
np.concatenate([m1,m1])

array([[1, 2, 3],
       [7, 8, 9],
       [1, 2, 3],
       [7, 8, 9]])

In [69]:
np.concatenate([m1,m1], axis = 1)

array([[1, 2, 3, 1, 2, 3],
       [7, 8, 9, 7, 8, 9]])

**different dimensions:**

In [46]:
a2

array([4, 5, 6])

In [47]:
m1

array([[1, 2, 3],
       [7, 8, 9]])

In [48]:
np.vstack([a2,m1])

array([[4, 5, 6],
       [1, 2, 3],
       [7, 8, 9]])

In [49]:
a3 = np.array([[99],
             [98]])
a3

array([[99],
       [98]])

In [50]:
np.hstack([a3,m1])

array([[99,  1,  2,  3],
       [98,  7,  8,  9]])

**vstack merges based on columns; hstack merges based on rows. So; arrays must have same column number for vstack and same row number for hstack!**

## Array splitting

In [103]:
a4 = [1,2,3,43,67,89,96]
a4

[1, 2, 3, 43, 67, 89, 96]

In [104]:
np.split(a4, [3,5])

[array([1, 2, 3]), array([43, 67]), array([89, 96])]

**assigning:**

In [105]:
y1,y2,y3 = np.split(a4, [3,5])

In [106]:
y1

array([1, 2, 3])

In [107]:
y2

array([43, 67])

In [108]:
y3

array([89, 96])

**row-based splitting and adding:**

In [109]:
a6 = np.arange(16).reshape((4,4))
a6

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [110]:
np.vsplit(a6, [2])

[array([[0, 1, 2, 3],
        [4, 5, 6, 7]]), array([[ 8,  9, 10, 11],
        [12, 13, 14, 15]])]

In [114]:
up, down = np.vsplit(a6, [2])

In [115]:
up

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [116]:
down

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

**column-based splitting and adding:**

In [119]:
a6

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [120]:
np.hsplit(a6, [2])

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]), array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]])]

In [124]:
left, right = np.hsplit(a6, [2])

In [125]:
right

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])

In [126]:
left

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]])

## Array sorting

In [127]:
v = np.array([4,2,8,6,5,1,7,3])
v

array([4, 2, 8, 6, 5, 1, 7, 3])

In [128]:
np.sort(v)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [129]:
v

array([4, 2, 8, 6, 5, 1, 7, 3])

**in order to make change in vector:**

In [130]:
v.sort()

In [131]:
v

array([1, 2, 3, 4, 5, 6, 7, 8])

**to learn which element is gone to which index:**

In [132]:
v2 = np.array([4,1,5,3,2])
v2

array([4, 1, 5, 3, 2])

In [133]:
np.sort(v2)

array([1, 2, 3, 4, 5])

In [134]:
i = np.argsort(v2)
i

array([1, 4, 3, 0, 2])

In [135]:
v2

array([4, 1, 5, 3, 2])

In [136]:
v2[i]

array([1, 2, 3, 4, 5])

# Numpy Operations

## Index

In [137]:
elis1 = np.random.randint(10, size=10)
elis1

array([4, 3, 5, 1, 2, 9, 6, 6, 0, 3])

In [138]:
elis1[1]

3

In [139]:
elis1[-2]

0

In [140]:
elis1[0]

4

In [141]:
elis2 = np.random.randint(10, size=(3,5))
elis2

array([[7, 8, 4, 1, 8],
       [3, 1, 0, 7, 8],
       [5, 6, 5, 6, 3]])

In [142]:
elis2[0,0]

7

In [143]:
elis2[1,1]

1

In [144]:
elis2[0,0] = 1

In [145]:
elis2[0,0]

1

In [146]:
elis2[0,0] = 3.2

In [147]:
elis2[0,0]

3

## Slice

In [148]:
sli1 = np.arange(20,30)
sli1

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [149]:
sli1[0:3]

array([20, 21, 22])

In [150]:
sli1[3:]

array([23, 24, 25, 26, 27, 28, 29])

In [151]:
sli1[::2]

array([20, 22, 24, 26, 28])

In [152]:
sli1[1::2]

array([21, 23, 25, 27, 29])

In [153]:
sli1[2::2]

array([22, 24, 26, 28])

In [154]:
sli1[1::3]

array([21, 24, 27])

In [155]:
sli2 = np.random.randint(10, size=(5,5))
sli2

array([[1, 5, 7, 6, 4],
       [4, 8, 8, 5, 4],
       [1, 6, 8, 3, 9],
       [6, 7, 7, 7, 4],
       [8, 6, 9, 2, 4]])

**to get a particular column:**

In [144]:
sli2[:,0]

array([7, 5, 1, 5, 0])

In [145]:
sli2[:,0]

array([7, 5, 1, 5, 0])

**to get a particular row:**

In [156]:
sli2[0]

array([1, 5, 7, 6, 4])

In [157]:
sli2[4,:]

array([8, 6, 9, 2, 4])

**to get particula row and column:**

In [158]:
sli2[:2,:3]

array([[1, 5, 7],
       [4, 8, 8]])

In [159]:
sli2[0:2,0:3]

array([[1, 5, 7],
       [4, 8, 8]])

**to get all rows and first 2 columns:**

In [160]:
sli2[:,:2]

array([[1, 5],
       [4, 8],
       [1, 6],
       [6, 7],
       [8, 6]])

In [161]:
sli2[1:3,0:2]

array([[4, 8],
       [1, 6]])

**Note:** If you take a subset and do an assignment to this subset, original matrix will also be changed!!!

In [162]:
sli2

array([[1, 5, 7, 6, 4],
       [4, 8, 8, 5, 4],
       [1, 6, 8, 3, 9],
       [6, 7, 7, 7, 4],
       [8, 6, 9, 2, 4]])

In [163]:
alt_sli2 = sli2[0:3,0:2]
alt_sli2

array([[1, 5],
       [4, 8],
       [1, 6]])

In [164]:
alt_sli2[0,1] = 9999
alt_sli2

array([[   1, 9999],
       [   4,    8],
       [   1,    6]])

In [165]:
sli2

array([[   1, 9999,    7,    6,    4],
       [   4,    8,    8,    5,    4],
       [   1,    6,    8,    3,    9],
       [   6,    7,    7,    7,    4],
       [   8,    6,    9,    2,    4]])

**in order to avoid change in the original matrix; use copy():**

In [166]:
altb_sli2 = sli2[0:3,0:2].copy()
altb_sli2

array([[   1, 9999],
       [   4,    8],
       [   1,    6]])

In [167]:
altb_sli2[0,0] = 8888
altb_sli2

array([[8888, 9999],
       [   4,    8],
       [   1,    6]])

In [168]:
sli2

array([[   1, 9999,    7,    6,    4],
       [   4,    8,    8,    5,    4],
       [   1,    6,    8,    3,    9],
       [   6,    7,    7,    7,    4],
       [   8,    6,    9,    2,    4]])

## Fancy index

In [169]:
fan1 = np.arange(0,30,3)
fan1

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [170]:
fan1[1]

3

In [171]:
[fan1[1], fan1[3]]

[3, 9]

In [172]:
fanalt1 = [1,3,5]

In [173]:
fan1[fanalt1]

array([ 3,  9, 15])

**fancy for 2 dim:**

In [174]:
fan2 = np.arange(9).reshape((3,3))
fan2

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [176]:
row1 = np.array([0,1])
col1 = np.array([1,2])

In [177]:
fan2[row1, col1]

array([1, 5])

In [178]:
fan2[0, [1,2]]

array([1, 2])

In [179]:
fan2[0:, [1,2]]

array([[1, 2],
       [4, 5],
       [7, 8]])

**assigning:**

In [180]:
fan3 = np.arange(10)
fan3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [181]:
index1 = np.array([0,1,2])
index1

array([0, 1, 2])

In [182]:
fan3[index1] = 99

In [183]:
fan3

array([99, 99, 99,  3,  4,  5,  6,  7,  8,  9])

In [184]:
fan3[[0,1]] = [4,6]

In [185]:
fan3

array([ 4,  6, 99,  3,  4,  5,  6,  7,  8,  9])

## Conditional operations

In [188]:
kos1 = np.array([1,2,3,4,5])

In [189]:
kos1 > 3

array([False, False, False,  True,  True])

In [190]:
kos1 < 3

array([ True,  True, False, False, False])

In [191]:
kos1 <= 3

array([ True,  True,  True, False, False])

In [192]:
kos1 == 3

array([False, False,  True, False, False])

In [193]:
kos1 != 3

array([ True,  True, False,  True,  True])

In [194]:
kos1[kos1 > 3]

array([4, 5])

In [195]:
(2*kos1)

array([ 2,  4,  6,  8, 10])

In [196]:
(kos1**2)

array([ 1,  4,  9, 16, 25])

In [197]:
(2*kos1) == (kos1**2)

array([False,  True, False, False, False])

In [198]:
kos2 = np.array([1,2,3,4,5])

In [199]:
np.equal(3, kos2)

array([False, False,  True, False, False])

In [200]:
np.equal([0,1,3], np.arange(3))

array([ True,  True, False])

In [201]:
np.arange(3)

array([0, 1, 2])

In [202]:
kos3 = np.random.randint(0, 10, (3,3))
kos3

array([[3, 4, 7],
       [1, 9, 9],
       [3, 7, 7]])

In [203]:
kos3 > 5

array([[False, False,  True],
       [False,  True,  True],
       [False,  True,  True]])

In [204]:
np.sum(kos3 > 5)

5

In [205]:
np.sum((kos3 > 3) & (kos3 < 7))

1

In [206]:
(kos3 > 3) & (kos3 < 7)

array([[False,  True, False],
       [False, False, False],
       [False, False, False]])

In [207]:
np.sum((kos3 > 3) | (kos3 < 7))

9

In [208]:
np.sum(kos3 > 4, axis = 1)

array([1, 2, 2])

In [209]:
np.sum(kos3 > 4, axis = 0)

array([0, 2, 3])

all & any

In [210]:
np.all(kos3 > 4)

False

In [211]:
np.all(kos3 >= 0)

True

In [212]:
np.any(kos3 > 4)

True

In [213]:
np.all(kos3 > 4, axis = 0)

array([False, False,  True])

In [214]:
np.all(kos3 > 4, axis = 1)

array([False, False, False])

In [215]:
kos4 = np.array([1,2,3,4,5])
kos4

array([1, 2, 3, 4, 5])

In [216]:
kos4[0]

1

In [217]:
kos4 > 3

array([False, False, False,  True,  True])

In [218]:
kos4[kos4 > 3]

array([4, 5])

In [219]:
kos4[(kos4 > 1) & (kos4 < 5)]

array([2, 3, 4])

## Mathematical operations

In [220]:
mat1 = np.arange(5)
mat1

array([0, 1, 2, 3, 4])

In [221]:
mat1 - 1

array([-1,  0,  1,  2,  3])

In [222]:
mat1 / 2

array([0. , 0.5, 1. , 1.5, 2. ])

In [223]:
mat1 * 5

array([ 0,  5, 10, 15, 20])

In [224]:
mat1 ** 2

array([ 0,  1,  4,  9, 16])

In [225]:
mat1 % 2

array([0, 1, 0, 1, 0])

In [226]:
5*(mat1/2*9)

array([ 0. , 22.5, 45. , 67.5, 90. ])

In [227]:
np.add(mat1, 2)

array([2, 3, 4, 5, 6])

In [228]:
np.subtract(mat1,1)

array([-1,  0,  1,  2,  3])

In [229]:
np.multiply(mat1,3)

array([ 0,  3,  6,  9, 12])

In [230]:
np.divide(mat1,3)

array([0.        , 0.33333333, 0.66666667, 1.        , 1.33333333])

In [231]:
np.power(mat1,2)

array([ 0,  1,  4,  9, 16])

In [232]:
mat2 = np.arange(1,6)
mat2

array([1, 2, 3, 4, 5])

In [233]:
np.add.reduce(mat2)

15

In [234]:
np.add.accumulate(mat2)

array([ 1,  3,  6, 10, 15])

In [235]:
mat3 = np.random.normal(0,1,30)
mat3

array([-1.38060223, -1.16876816, -0.82783314,  1.86652698, -0.31353041,
       -0.25227579,  0.45664316,  0.76800064,  0.15317894,  0.75879172,
       -0.02193428, -0.50330668, -1.3769324 ,  0.25259037, -0.00262726,
       -1.60946144,  0.70354587,  0.88708891, -0.11321865,  1.18392786,
        0.96874679, -0.32289379,  0.85715929, -0.22961171,  0.38195434,
        0.93384694, -0.54022831, -0.68130556,  0.44937957, -0.56373467])

In [236]:
np.mean(mat3)

0.023770564315320396

In [237]:
np.std(mat3)

0.8288164637277224

In [238]:
np.var(mat3)

0.686936730546127

In [239]:
np.median(mat3)

-0.012280769127318677

In [240]:
sum(mat3)

0.7131169294596119

**in order to consider missing values for run:**

np.nanmean()

np.nanstd()

np.nanvar()

np.nanrgmin()

np.nanrgmax()

np.nanmedian()

In [243]:
np.max(mat3)

1.866526978125732

In [244]:
np.min(mat3)

-1.609461441183434

**Mathematical operations for 2 dim arrays:**

In [245]:
mat4 = np.random.normal(0,1,(3,3))
mat4

array([[-0.27052416,  1.98401288, -0.08832388],
       [ 0.01356542, -0.14957995, -0.73496348],
       [ 0.56749142, -0.79200791, -2.8504547 ]])

In [246]:
mat4.sum()

-2.320784356750928

**sum based on column:**

In [247]:
mat4.sum(axis = 0)

array([ 0.31053268,  1.04242502, -3.67374206])

**sum based on row:**

In [101]:
mat4.sum(axis = 1)

array([-1.06353022, -1.24581317, -1.6531823 ])

# Broadcasting - Operations on Arrays with Different Dimensions

In [59]:
bro1 = np.array([1,2,3])
bro2 = np.array([1,2,3])
bro1 + bro2

array([2, 4, 6])

In [60]:
bro3 = np.ones((3,3))
bro3

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [61]:
bro1 + bro3

array([[2., 3., 4.],
       [2., 3., 4.],
       [2., 3., 4.]])

In [62]:
bro4 = np.arange(3)
bro4

array([0, 1, 2])

In [63]:
bro5 = np.arange(3)[:, np.newaxis]
bro5

array([[0],
       [1],
       [2]])

In [64]:
bro4 + bro5

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

In [65]:
bro6 = np.arange(3).reshape((3,1))
bro6

array([[0],
       [1],
       [2]])

In [66]:
bro7 = np.arange(3)
bro7

array([0, 1, 2])

In [67]:
bro6.shape

(3, 1)

In [68]:
bro7.shape

(3,)

In [69]:
bro6 + bro7

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

In [70]:
bro8 = np.ones((3,2))
bro8

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [71]:
bro9 = np.arange(3)
bro9

array([0, 1, 2])

In [72]:
bro8.shape

(3, 2)

In [73]:
bro9.shape

(3,)

**in that case; broadcast does not work:**

In [74]:
bro8 + bro9

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

# Numpy structural arrays

In [51]:
name1 = ['joe', 'elly', 'lisa']
age1 = [25, 22, 19]
height1 = [168, 159, 172]

In [52]:
data1 = np.zeros(3, dtype={'names':('name1', 'age1', 'height1'),
                          'formats':('U10', 'i4', 'f8')})

In [53]:
data1

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('name1', '<U10'), ('age1', '<i4'), ('height1', '<f8')])

In [54]:
data1['name1'] = name1
data1['age1'] = age1
data1['height1'] = height1

In [55]:
data1

array([('joe', 25, 168.), ('elly', 22, 159.), ('lisa', 19, 172.)],
      dtype=[('name1', '<U10'), ('age1', '<i4'), ('height1', '<f8')])

In [56]:
data1['name1']

array(['joe', 'elly', 'lisa'], dtype='<U10')

In [57]:
data1[0]

('joe', 25, 168.)

In [58]:
data1[data1['age1']<25]['name1']

array(['elly', 'lisa'], dtype='<U10')

# References

https://numpy.org/

udemy.com / Data Science and Machine Learning by Mustafa Vahit Keskin

coursera.com / Python for Genomic Data Science